/* Reset margins and padding */

@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* Set A4 size */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.a4-page {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    background-color: white;
    padding: 20mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    position: relative;
}

.vl{
    height: 46px;
    width: 5px ;
    background-color: #185BAA;
    border-radius: 99px;
    margin-right: 10px;
}



.header {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 15mm;
    font-size: x-small;
    font-weight: 50;
}

.company-info-container{
    display: flex;
}

.logo img {
    max-width: 150px;
}

.company-info {
    text-align: left;
    margin-right: auto;
}
.quotation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 13mm; /* No gap between flex items */
    margin-bottom: 10mm;
    font-size: x-small;
}

.info-container {
    display: flex;
 
}

.quotation-filter {
    margin-right: 5mm; /* Reduced margin for tighter spacing */
}

.quotation-filter p, .quotation-info p {
    margin-bottom: 2mm;
}

.vl2 {
    height: 12vh;
    width: 1px;
    background-color: #adadad;
    border-radius: 99px;
    
}



.quotation-number, .client-info {
    width: 48%;
}

.quotation-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20mm;
}

.quotation-table th, .quotation-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}


.quotation-table th {
    background-color: #f2f2f2;
}

.total td {
    text-align: right;
}

.terms {
    margin-bottom: 20mm;
}

.terms h3 {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 20mm;
    width: calc(100% - 40mm); /* Width minus padding */
}

@media print {
    body {
        background: none;
        box-shadow: none;
    }

    .a4-page {
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
}
